<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<img src="company_logo.png" alt="AI generated logo" style="width:100%">
<div class="">
 <h1>Company Name</h1>
</div>
<div>
  <h2>Get personalized movie recommendations based on your Spotify activity.</h2>
</div>
<div>
  <button>Continue with Spotify</button>
</div>
<div>
  <p>Email or username</p>
  <button></button>
  <p>Password</p>
  <button></button>
  <a href="url">Forgot Password?</a>
</div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</body>
</html>